.container {
  width: 1100px;
  margin: 0 auto;
}
.row {
  display: flex;
  justify-content: center;
}
.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: .75rem;
  width: 310px;
  flex-wrap: wrap;
  height: 100%;
}

a, a:active, a:link {
  color: #444444;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}

li {
  line-height: 1.5rem;
}

#bookmarks {
  display: flex;
  justify-content: center;
}

.card {
  position: relative;
  width: 310px;
  background: #ffffff;
  border-radius: 2px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.card .header {
  font-size: 1.2rem;
  color: #666666;
  display: flex;
}
.card .header h2 {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  color: #666666;
  font-weight: normal;
}
.card .header .toolbar {
  font-size: 1rem;
  margin-left: auto;
}
.card .header .toolbar i {
  padding: 0 .5rem;
  cursor: pointer;
}
.card .header .toolbar i:last-child {
  padding-right: 0;
}
.card .body {

}
.hovered {
  border: 1px dotted #eeeeee;
}

body.dropdown .col:hover {
  border: 2px dotted #ffffff;
  box-sizing: border-box;
}

#actions {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  background: #ffffff;
  padding: .5rem 1rem;
  border-bottom-left-radius: 2px;
  color: #666666;
}
#actions i {
  padding: 0;
  cursor: pointer;
}
#actions i:last-child {
  padding-right: 0;
}
