body {
  background: #efefef;
}
a, a:active, a:link {
  color: #444444;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 1rem 0 0;
  padding: 0;
}

li {
  line-height: 1.5rem;
}

.container {
  width: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 1rem;
}

#settings .card {
  background: transparent;
}

#bookmarks {
  display: flex;
  justify-content: center;
}

.card {
  float: none;
  flex-direction: column;
  padding: 0;
  margin-bottom: 1rem;
}
.card .header {
  font-size: 1.2rem;
  color: #999999;
  display: flex;
  padding: .5rem 1rem;
}
.card .header h2 {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}
.card .header h2 i {
  padding-right: .5rem;
}
.card .header .toolbar {
  margin-left: auto;
}
.card .body {
  flex-grow: 1;
  padding: 1rem;
  background: #ffffff;
  border-radius: .5rem;
  box-shadow: 0 1px 16px 0 #dfdfdf;
}
.card .body .footer {
  flex-grow: 1;
  padding-top: 2rem;
}

.form {

}
.form .control {
  padding-bottom: 1rem;
}
.form .control:last-child {
  padding-bottom: 0;
}
.form .control .field {
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

}
.form .control .field > label {
  font-size: .8rem;
  color: #666666;
  font-weight: 700;
  flex-basis: auto;
  line-height: 2rem;
}
.form .control .field > input {
  padding: 0 .5rem;
  height: 2rem;
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .5rem;
  line-height: 1rem;
  transition: box-shadow .1s ease, width .1s ease, -webkit-box-shadow .1s ease;
}
.form .control .field > select {
  white-space: normal;
  cursor: pointer;
  height: 2rem;
  box-shadow: none;
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .5rem;
  line-height: 1rem;
  transition: box-shadow .1s ease, width .1s ease, -webkit-box-shadow .1s ease;
}
.form .control span.help {
  display: block;
  font-size: .7rem;
  color: #999999;
  padding: .25rem 0 0 0;
}
.form .gallery {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}
.form .gallery .image {
  margin-right: .5rem;
  margin-bottom: .5rem;
  flex-direction: column;
  border-radius: .5rem;
  height: 100px;
  width: 160px;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.form .gallery .image.selected {

}
.form .gallery .image.selected .check-icon {
  color: #ffffff;
  border-radius: 1rem;
  display: block;
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  background: #e94e49;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  font-size: 2rem;
}
.form .gallery .image.selected .check-icon .i {

}

















